org.eclipse.core.resources.prefs
node_modules
/WEB-INF
settings.xml
.project
.svn
.DS_Store
# Build Process
artifacts/*
build/build.number
build-cfcouchbase/*
samples/testing
# testing
tests/results
## Dependencies
coldbox/*
testbox/*
apidocs/CFCouchbase-APIDocs
apidocs/docbox/*