org.eclipse.core.resources.prefs
node_modules
/WEB-INF
settings.xml
.project
.svn
test/results
distributions/docs
build/build.number
samples/testing
.DS_Store
## Dependencies
coldbox/*
testbox/*
apidocs/CFCouchbase-APIDocs
apidocs/docbox/*